fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose
passlib
email-validator
python-dotenv
python-multipart
bcrypt
cryptography
scikit-learn
numpy
pandas
scipy
shap
dill
numba